Checks: >
  -*,
  bugprone-*,
  cert-*
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -google-readability-braces-around-statements,
  -misc-no-recursion,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
